:root {
  --bgColor: #1a1a1a;
  --bgColorLigher: #232323;
  --borderColor: #383838;
  --mutedTextColor: #717171;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  background: var(--bgColor);
  box-sizing: border-box;
  height: 100vh;
  padding: 40px 55px;
}
